html {
    font-family: sans-serif;
    line-height: 1.7;
}
body {
    max-width: 900px;
    margin: auto;
}
form {
    box-shadow: .1em .15em .3em rgb(0 0 0 /0.5);
    padding: 1em;
    margin-top: 1em;
    border-radius: 0.4em;
}
input, label {
    display: block;
}
label, button, fieldset {
    margin-top: 1em;
}
.message {
    font-size: 3rem;
    color: green;
}